.clients{
    &__title{
        color: $textcolor;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding-top:94px;
        
    }
    &__logo{
        list-style: none;
        display: flex;
        gap: 30px;
        
       
    }

&__icon{
    width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  color: $socialicon;
  fill: currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill;
}

  &__icon:hover{
    border-color:$bluehighlight;
fill: $bluehighlight;
cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: $cubicbezier; 
    
  } 

}