$white: #ffffff;
$offwhite: #f5f4fa;
$textcolor:#212121;
$bgfooter: #2f303a;
$bluehighlight: #2196f3;
$textinfo: #757575;
$cubicbezier: cubic-bezier(0.4, 0, 0.2, 1);
$socialicon: #afb1b8;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);